*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.container {
    display: flex;
    width: 90%;
}
.image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    flex: 0.5;
    cursor: pointer;
    margin: 5px;
    position: relative;
    transition: flex .7s ease-in;
}
.image.active {
    flex: 5;
}
.image h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    color: #fff;
}
.image.active h3 {
    opacity: 1;
}